click==6.7
configparser==3.5.0
enum34==1.1.6
flake8==3.5.0
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
MySQL-python==1.2.5
pycodestyle==2.3.1
pyflakes==1.6.0
SQLAlchemy==1.1.15
Werkzeug==0.13
